---
layout: page
title: Home
---

<section class="c-article__main">
  <p>
    Welcome to my personal website! I research the sociology and governance of information technology, with a particular interest in distributed (aka 'decentralised') systems. I have a background in information systems management (PhD). Currently, I work as a scientist at the Dutch Organisation for Applied Scientific Research. All views refelected on this website are my own and do not reflect those of my employer. 
  </p>
</section>
  
<ul class="c-archives__list">
  {% assign thoughts_posts = site.posts | where: "tags", "thoughts" | sort: "date" | reverse %}
  {% for post in thoughts_posts limit:3 %}
    <li class="c-archives__item">
      <h3>
        {% if post.external_url %}
          <a href="{{ post.external_url }}" target="_blank" title="{{ post.title }}">
            {{ post.title }}
          </a>
        {% else %}
          <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
            {{ post.title }}
          </a>
        {% endif %}
        <br>
        <small>{{ post.short_description }}</small>
      </h3>
      <p>{{ post.date | date: "%b %-d, %Y" }}</p>
    </li>
  {% endfor %}
</ul>
