<footer class="c-page__footer">
  <p>&copy; 2023 - {{ 'now' | date: '%Y' }} {{ site.author }}</p>
  <p>
    <!-- LinkedIn icon with inline color style -->
    <a class="no-hov" href="https://www.linkedin.com/in/tom-barbereau/" target="_blank">
      <i class="fab fa-linkedin" style="color: #0067FB;"></i> <!-- LinkedIn blue -->
    </a>
    <span class="u-separate"></span>

    <!-- Google Scholar icon with inline color style -->
    <a class="no-hov" href="https://scholar.google.com/citations?user=qvsfsEMAAAAJ&hl=en" target="_blank">
      <i class="fas fa-graduation-cap" style="color: #0067FB;"></i> <!-- Google blue -->
    </a>
  </p>
</footer>
