---
layout: page
---
<article class="c-article">
  <header class="c-article__header">
    <h1 class="c-article__title">{{ page.title }}</h1>
    <p class="c-article__time"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
  </header>
  
  <!-- Post Tags -->
  <ul class="c-tags">
  {% for tag in page.tags %}
  <li class="c-tag">
    <a href="/tags/{{ tag | slugify }}">{{ tag }}</a>
  </li>
  {% endfor %}
  </ul>
  <div class="c-article__main">
    {{ content }}
  </div>
  
  <!-- Previous / Next Buttons -->
  <div class="pagenav">
    {% assign previous_thought = nil %}
    {% assign next_thought = nil %}
  
    {%- for post in site.posts reversed -%}
      {%- if post.tags contains "thoughts" and post.date < page.date -%}
        {% assign previous_thought = post %}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  
    {%- for post in site.posts -%}
      {%- if post.tags contains "thoughts" and post.date > page.date -%}
        {% assign next_thought = post %}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  
    {% if previous_thought %}
  <div class="wrapper" id="left">
    <small><b>Previous</b> {{ previous_thought.date | date: "%b %-d, %Y" }}</small>
    <br>
    <a class="no-hov" href="{{ previous_thought.url | prepend: site.baseurl }}">&laquo; {{ previous_thought.title }}</a>
  </div>
  {% endif %}

  {% if next_thought %}
  <div class="wrapper" id="right">
    <small>{{ next_thought.date | date: "%b %-d, %Y" }} <b>Next</b></small>
    <br>
    <a class="no-hov" href="{{ next_thought.url | prepend: site.baseurl }}">{{ next_thought.title }} &raquo;</a>
  </div>
  {% endif %}
</div>

  
  <!-- Disqus comments view -->
  {% if page.comments != false and site.disqus_id %}
  <div class="post-disqus">
    <section id="disqus_thread"></section>
    {% include disqus.html %}
  </div>
  {% endif %}
</article>
