---
layout: page
---
<article class="c-article">
  <header class="c-article__header">
    <h1 class="c-article__title">Posts tagged with "{{ page.tag }}"</h1>
  </header>

<ul class="c-archives__list">
  {% for post in site.posts %}
  {% if post.tags contains page.tag %}
    <li class="c-archives__item">
      <h3>
            {% if post.external_url %}
              <a href="{{ post.external_url }}" target="_blank" title="{{ post.title }}">
                {{ post.title }}
              </a>
            {% else %}
              <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                {{ post.title }}
              </a>
            {% endif %}
        <br>
        <small>{{post.short_description}}</small>
      </h3>
      <p>{{ post.date | date: "%b %-d, %Y" }}</p>
    </li>
   {% endif %}
    {% endfor %}
  </ul>
  
  <footer class="c-article__footer">
  </footer>
</article>
